<html>
  <head>
    <title>Moji: Help</title>
    <%= partial 'public/partials/_head.html.erb' %>
  </head>
  <body>
    <p class='icon'>
      <a href='/'><img src='img/icon.png'></a>
    </p>
    <p>
      <h1>Moji: Help</h1>
    </p>
    <p>
      This bot randomizes your emoji status in Slack.
    </p>
    <p>&nbsp;</p>
    <p>
      Turn on Moji with <b>/moji me</b>. Follow the instructions.
    </p>
    <p>
      Right click on any message in Slack and choose <b>Emojify</b> to react to a message with relevant emoji.
    </p>
    <p>
      <img src='img/emojify.gif'>
    </p>
    <p>
      DM <b>help</b> to <b>@moji</b> for more commands and options.
    </p>
    <%= partial 'public/partials/_footer.html.erb' %>
  </body>
</html>

